
* {
    font-family: "Poppins", sans-serif !important;
}
span {
    color: #198754 !important;
}
img{
    width: 100% !important;   
}
.card{
    transition: all 250ms ease-in-out !important;
}
.card:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

